# JS
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# yarn
.pnp.*
.yarn/*
yarn.log
yarn.lock
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# tests
/test-results/
/playwright-report/
/playwright/.cache/
