@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body {
	height: 100%;
}

* {
	--cube-info-size: 16px;

	--cube-size: 32px;
	--cube-size-negative: calc(var(--cube-size) * -1);
	--cube-half-size: calc(var(--cube-size) / 2);
	--cube-half-size-negative: calc(var(--cube-half-size) * -1);
	--grid-width: calc(var(--cube-size) * 10);
	--grid-height: calc(var(--cube-size) * 20);

    --footer-height: 0px;
    --header-height: calc(96px + 40px);

	--central-box-width: 500px;

	@apply text-gray-200;

	font-family: 'Carter One', cursive;

	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;

	font-display: block;
}

html {
	@apply bg-neutral-800;
}

button {
	@apply bg-blue-300 p-2 text-black block m-auto transition-all;
}

button:not(.icon) {
	@apply min-w-[50px];
}

button.icon{
	@apply inline-block bg-transparent;
	outline: none;
}

button.icon > img {
	@apply w-6 invert opacity-40;
}

button:not([disabled]):not(.cant-click):not(.not-hover):hover {
	@apply bg-blue-400;
}

button:disabled, button.off {
	@apply bg-neutral-300;
}

.cant-select, h1, h2, h3, img, button {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.text-input {
	@apply bg-inherit w-[70%] border-b-[1px] p-2 outline-none placeholder-neutral-500;
}

.cant-click:hover {
	cursor: not-allowed;
}

.underline-hover:hover {
	/* @apply; */
	text-decoration: underline;
}

.scale-hover {
	@apply transition-all;
}

.scale-hover:not(.cant-click):hover {
	@apply scale-105 cursor-pointer;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #5e5e5e inherit;
	border-radius: 0px;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: inherit;
}

*::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 0px;
    border: 0px solid #ffffff;
}

.shadow {
    filter: drop-shadow(5px 5px 5px #000);
}

.transparent {
	opacity: 0.2;
}

h1 {
	@apply text-5xl;
}

h2 {
	@apply text-2xl;
}

h3 {
	@apply text-xl;
}
